.button {
  @apply 
  /* border border-gray-400  */
  px-4 p-3 
  cursor-pointer 
  text-sm font-bold uppercase tracking-wider 
  transition ease-linear duration-200 
  hover:backdrop-brightness-90 hover:drop-shadow-lg hover:no-underline 
  focus:outline-none focus:ring-2
}

.color-primary {
  @apply  
    text-white 
    bg-primary-600 
    hover:bg-primary-700 
    focus:ring-primary-700;
}

.color-secondary {
  @apply  
    text-white 
    bg-secondary-600 
    hover:bg-secondary-700 
    focus:ring-secondary-700;
}

.color-disabled {
  @apply  
    text-white 
    bg-slate-600 
    hover:bg-slate-700 
    focus:ring-slate-700;
}
